{%  extends 'base.html'  %}
{%  load static  %}
{% block metadescription %}
     {%  if category  %}
         {{ category.description|truncatewords:155 }}
     {% else %}
         Welcome to friends fashions make everything possible
         where you can buys different itemms..........
     {% endif %}
{% endblock %}
{% block title %}
{% if category %}
      {{ category.name }} - Friends Fashions
{% else %}
      <h1>See our new collections- Friends Fashions</h1>
     {% endif %}

{% endblock %}
{% block content %}
{% if category %}
              <div>
                  <div class="row my_row_class">
                      <div class="mx-auto">
                      <p><a href="{% url 'shopapp:allProdCat' %}">Our Product Collections</a></p>
                  </div>
                      </div>
              </div>
         {% endif %}
              <div class="mx_auto">
                   {% if category %}
                  <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
              </div>
                 <br>
               <div>
                   <h1 class="text-center">{{category.name}}</h1>
                   <p class="text-justify">{{category.description}}</p>
               </div>
                    {% else %}
                      <div>
                          <img class="my_image my_image_padding" src="{%  static 'img/banner.png'  %}" alt="Our products" width="1250px;">
                      </div>
                   <br>
                      <div>
                          <h1 class="text-center my_title"> Our Products Collections</h1>
                             <p class="text-justify">But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                                 pain was born and I will give you a complete account of the system, and expound the
                                 actual teachings of the great explorer of the truth, the master-builder of human
                                 happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                                 is pleasure, but</p>
                      </div>
                          {% endif %}

                   <div class="container">
                       <div class="row mx_auto">
                           {% for product in products.object_list %}
                           <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                               <div class="card text-center" style="min-width:18rem;">
                                   <a href="{{product.get_url}}"><img class="card-img-top  my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                                   <div class="card-body">
                                       <h4>{{product.name}}</h4>
                                       <p>${{product.price}}</p>
                                         <p> product Description </p>
                                        <p>{{product.description}}</p>
                                         {%  if product.stock <= 0 %}
                                            <p><b>Out of stock</b></p>
                                             {% else %}
                                             <a href="{% url 'shopapp:allProdCat' %}">Add to Cart</a>
                                             {% endif %}
                                   </div>
                               </div>
                           </div>
                           {% endfor %}
                       </div>
                       <div class="mx-auto">
                           {% if products.paginator.num_pages > 1 %}
                           <hr>
                           <div class="text-center">
                               {% for pg in products.paginator.page_range %}
                                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                               {% endfor %}
                           </div>
                           {% endif %}
                       </div>
                       <br>
                   </div>
 {% endblock %}